:root {
    --bs-primary:           %primary_color%;
    --bs-secondary:         %secondary_color%;

    --bs-primary-text:      %primary_text_color%;
    --bs-secondary-text:    %secondary_text_color%;

    --bs-header:            %header_background_color%;
    --bs-header-text:       %header_text_color%;

    --bs-nav:               %nav_background_color%;
    --bs-nav-text:          %nav_text_color%;
    --bs-nav-submenu:       %nav_submenu_color%;
    --bs-nav-hover:         %nav_hover_color%;

    --bs-favorite:          %favorite_color%
}
